.products_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  flex-grow: 1;
  flex-basis: 16%;
  width: 250px;
  height: 350px;
  border: 3px solid #689cd2;
  font-size: 0.8rem;
}

.product_image {
  text-align: center;
  max-height: 120px;
}

.product_image img {
  height: 120px;
}

.product_info {
  margin-top: 5px;
  text-align: center;
}

a {
  text-decoration: none;
}

.textBold {
  font-weight: bold;
}
