<div class="header_books">
  <div class="header_section_books">
    <div class="header_item_nav headerlogo">
      <a href="#">Book Shop</a>
    </div>
    <div class="header_item_nav header-button" routerLinkActive="active">
      <a routerLink="/products-list">Books</a>
    </div>
    <div class="header_item_nav header-button" routerLinkActive="active">
      <a routerLink="/cart">Cart</a>
    </div>
  </div>
  <div class="header_section_books">
    <div class="header_item_nav header-button" routerLinkActive="active">
      <a routerLink="/login">Login</a>
    </div>
    <div class="header_item_nav header-button" routerLinkActive="active">
      <a routerLink="/products-list">Log out</a>
    </div>
  </div>
</div>
